{% extends "base.html" %}
{% block title %}eClinic{% endblock title %}

{% block foundation_body %}
    {% include "eclinic_app/top_nav.html" %}

    <div class="row full columns">
        <section class="large-6 columns">
            <h2> Add Patient </h2>

            <form action="" method="post">
                {{ form.non_field_errors }}
                {% csrf_token %}

                <div class="large-4">
                    {{ form.as_table }}
                </div>
                <input type="submit" value="Add Patient">
            </form>
        </section>

        <aside class="large-5 columns">
            <h3></h3>
        </aside>
    </div>
{% endblock foundation_body %}
