{% extends "base.html" %}
{% block title %}eClinic{% endblock title %}

{% block foundation_body %}
    {% include "eclinic_app/top_nav.html" %}

    <div class="row full columns">

        <section class="large-6 columns">
            <h2> Confirm Delete </h2>

            Are you sure you want to delete <h3 class="subheader">{{ patient.get_full_name }} </h3>
            <form method="POST" action="">
                {% csrf_token %}
                <li><input type="submit" value="Yes"></li>
            </form>

            <section class="large-6">
                <h3> Second form place holder</h3>
            </section>


    </div>
{% endblock foundation_body %}
