<nav class="top-bar">
    <ul class="title-area">
        <li class="name"><h1><a href="../../patients"> eClinic </a></h1></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">

            <li class="has-dropdown"><a href="#"> Patient Management </a>
                <ul class="dropdown">
                    <li><a href="../patients"> Show Patients </a></li>
                    <li><a href="../patient/add"> Add Patient </a></li>
                </ul>
            </li>
            <li class="has-dropdown"><a href="#"> Visit Management </a>
                <ul class="dropdown">
                    <li><a href="../visits"> Show Visits </a></li>
                    <li><a href="../visit/add"> Add Visit </a></li>
                </ul>
            </li>


            <li class="has-dropdown"><a href="#"> Doctor Management </a>
                <ul class="dropdown">
                    <li><a href="../doctors"> Show Doctors </a></li>
                    <li><a href="../doctor/add"> Add Doctor </a></li>
                </ul>
            </li>
            <li class="has-dropdown"><a href="#"> Nurse Management </a>
                <ul class="dropdown">
                    <li><a href="../nurses"> Show Nurses </a></li>
                    <li><a href="../nurse/add"> Add Nurse </a></li>
                </ul>
            </li>

            <li class="has-dropdown"><a href="#">  Locations </a>
                <ul class="dropdown">
                    <li><a href="../nurses"> Add Region </a></li>
                    <li><a href="../nurse/add"> Add District </a></li>
                </ul>
            </li>


        </ul>
    </section>
</nav>