<nav class="top-bar">
    <ul class="title-area">
        <li class="name"><h1><a href="../../patients"> eClinic </a></h1></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">

            <li class="has-dropdown"><a href="#"> Patient Management </a>
                <ul class="dropdown">
                    <li><a href="../patients"> Show Patients </a></li>
                    <li><a href="../patient/add"> Add Patient </a></li>
                </ul>
            </li>
            <li class="has-dropdown"><a href="#"> Visit Management </a>
                <ul class="dropdown">
                    <li><a href="../patients"> Show Visits </a></li>
                    <li><a href="../patient/add"> Add Visit </a></li>
                </ul>
            </li>


            <li class="has-dropdown"><a href="#"> Doctor Management </a>
                <ul class="dropdown">
                    <li><a href="#"> Show Doctors </a></li>
                    <li><a href="#"> Add Doctor </a></li>
                    <li><a href="#"> Doctor in Charge </a></li>
                </ul>
            </li>
            <li class="has-dropdown"><a href="#"> Nurse Management </a>
                <ul class="dropdown">
                    <li><a href="#"> Show Nurses </a></li>
                    <li><a href="#"> Add Nurse </a></li>
                    <li><a href="#"> Nurse in Charge</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>